@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

:root {
    --bg-color: #f1f1f1;
    --text-color: #212121;
    --heading-color: #004d43;
    --secondary-bg-color:#cdea68;

}
/* Normal dots */
.swiper-pagination-bullet {
  background: #d1d5db; /* gray-300 */
  opacity: 1; /* make them fully visible */
}

/* Active dot */
.swiper-pagination-bullet-active {
  background: var(--heading-color) !important; /* green-600 */
}

